<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: headfragment">
<style>
#editModal.in{
    z-index: 999999;
}

</style>

</head>
<body>
<header th:replace="topmenu :: topmenufragment">
</header>
<div th:replace="leftmenu :: leftmenu">
</div>
<section>
 <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i>Edit Campaign</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index">Home</a></li>
              <li><i class="fa fa-bars"></i>Campaign</li>
              <li><i class="fa fa-square-o"></i>Edit Campaign</li>
            </ol>
          </div>
        </div>
        
        <!-- page start-->
      
        <div class="row">
        <div class="col-lg-12">
					<form action="#"
						th:action="@{/ui/campaign/update/{id}(id=${campaign.id})}"
						th:object="${campaign}" method="post">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name" class="col-form-label">Name</label> <input
									type="text" th:field="*{name}" class="form-control" id="name"
									placeholder="Name"> <span
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-8">
								<label for="client" class="col-form-label">Client</label><br> 
								<select th:field="*{client}">
						            <option th:each="client:${clients}"
                    					th:value="${client.id}"
                    					th:text="${client.name}"></option>
						        </select>	
								
								 <span
									th:if="${#fields.hasErrors('client')}" th:errors="*{client}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="status" class="col-form-label">Status</label><br> 
								<select th:field="*{status}">
						            <option th:each="status:${statuses}"
                    					th:value="${status.id}"
                    					th:text="${status.name}"></option>
						        </select>
								 <span
									th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
									class="text-danger"></span>
							</div>  
							
							<div class="form-group col-md-8">
							<label for="startDate">Start Date</label>
				                <div class="input-group date">
				                    <input type="text" class="form-control" id="startdate" autocomplete="off" th:field="*{startDate}"/>
				                    <div class="input-group-append">
				                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
				                    </div>
				                </div>
							</div>
							
							<div class="form-group col-md-8">
							<label for="endDate">End Date</label>
				                <div class="input-group date">
				                    <input type="text" class="form-control" id="enddate" autocomplete="off" th:field="*{endDate}"/>
				                    <div class="input-group-append">
				                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
				                    </div>
				                </div>
							</div>
														
							<div class="form-group col-md-8">
								<label for="powerBankCount" class="col-form-label">No of Powerbanks</label> <input
									type="text" th:field="*{powerBankCount}" class="form-control" id="powerBankCount"
									> <span
									th:if="${#fields.hasErrors('powerBankCount')}" th:errors="*{powerBankCount}"
									class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-8">
								<label for="amount" class="col-form-label">Amount</label> <input
									type="text" th:field="*{amount}" class="form-control" id="amount"
									> <span
									th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
									class="text-danger"></span>
							</div>
							
							<!-- <div class="form-group col-md-8">
								<label for="email" class="col-form-label">Email</label> <input
									type="text" th:field="*{email}" class="form-control" id="email"
									placeholder="Email"> <span
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="phoneNo" class="col-form-label">Phone No</label> <input
									type="text" th:field="*{phoneNo}" class="form-control"
									id="phoneNo" placeholder="phoneNo"> <span
									th:if="${#fields.hasErrors('phoneNo')}" th:errors="phoneNo"
									class="text-danger"></span>
							</div> -->

							<div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Update Campaign">
							</div>
						</div>
					</form>
				</div>
			</div>
			</section>
			</section>
			</section>
		<!-- </div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
 -->
 <div th:replace="footer :: footer"></div>
<script>
    $('#startdate').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    $('#enddate').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>
	
</body>
</html>